@import 'normalize';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';
@import 'pygments';

@font-face {
    font-family: 'fetch';
    src:url('fetch.eot');
    src:url('fetch.eot?#iefix') format('embedded-opentype'),
        url('fetch.ttf') format('truetype'),
        url('fetch.woff') format('woff'),
        url('fetch.svg#fetch') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  @include outer-container;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  border-bottom: 1px dotted;
  color: #c00;
  padding-bottom: 0.15em;
  text-decoration: none;
  @include transition (all 0.5s ease-in-out);

  &:hover {
    color: #f00;
    border-bottom-style: solid;
  }
}

main,
.main {
  @include clearfix;
  @include span-columns(8);
  @include shift(2);
}

.site-footer {
  @include span-columns(6);
  @include shift(3);
  border-top: 4px solid #000;
  margin-top: 2.5em;
  padding-top: 0.75em;

  p {
    color: #aaa;
    font-size: 0.75em;
    line-height: 2;
    text-align: center;
  }
}

.site-header {
  @include span-columns(6);
  @include shift(3);
  border-bottom: 8px solid #000;
  margin-bottom: 2.5em;
  margin-top: 1em;
  padding-bottom: 0.25em;

  h1 {
    font-size: 3.25em;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0.25em;
    text-align: center;
  }

  nav {
    @include clearfix;
    margin: 0 auto;
    width: 80%;

    a {
      @include transition (all 0.5s ease-in-out);
      display: inline-block;
      margin-bottom: golden-ratio(1em, -1);
    }
  }

  .links {
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;

    a {
      border: 0;
      font-weight: bold;
      line-height: 1.6;
      padding: 0 0.25em;
      margin-left: 1em;
      text-align: center;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .buttons a {
    @include span-columns(3, 12);
    @include omega(4n);
    @include clearfix;
    background-color: #f00;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;

    &:hover {
      background-color: #d00;
    }

    span {
      @include hide-text;
    }

    i {
      display: inline-block;
      font-size: golden-ratio(1rem, 1);
      position: relative;
      height: golden-ratio(1rem, 2);
      width: 100%;

      &:before {
        bottom: 0;
        color: #fff;
        content: attr(data-icon);
        display: inline-block;
        font-family: 'fetch';
        font-style: normal;
        left: 0;
        line-height: 2;
        margin-top: -0.25rem;
        min-width: 1rem;
        position: absolute;
        right: 0;
        speak: none;
        top: 0;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

      }
    }
  }
}

.archive {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      @include clearfix;
      margin-bottom: $gutter;

      &.header {
        border: 0 solid #999;
        border-bottom-width: 2px;
        margin-bottom: 2em;

        h3 {
          @include span-columns(2);
          margin-top: 0;
          padding-top: 0;

          a { border: 0; }
        }
      }

      time {
        @include span-columns(3);
        color: #aaa;
      }

      span {
        @include span-columns(9);
      }
    }
  }

  .pagination {
    text-align: center;

    span {
      display: inline-block;
      line-height: 0;
      margin-bottom: 10px;
      padding: 15px 20px;
      text-align: center;
    }

    a {
      background-color: #f00;
      color: #fff;
      display: inline-block;
      line-height: 0;
      margin-bottom: 10px;
      padding: 15px 20px;
      text-align: center;
      @include transition (all 0.5s ease-in-out);

      &:hover {
        background-color: #d00;
      }
    }
  }
}

article,
.hentry {
  header {
    border-bottom: 2px solid #000;
    margin-bottom: 1.5em;
    padding-bottom: 1em;

    h1 {
      font-size: 2.5em;
      line-height: 1.2;
      margin-bottom: 0.75em;
      text-align: center;
    }

    .meta {
      font-size: 0.75em;
      text-align: center;
    }
  }

  section {
    margin-bottom: 1em;

    &.comments {
      background: rgba(255, 200, 50, 0.25);
      border: 4px solid #fc8;
      border-radius: 8px;
      margin-top: 2em;
      padding: 2em;

      p {
        font-weight: bold;
        text-align: center;
      }
    }
  }

  pre {
    background: #efefef;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.25em 0.5em;
  }

  tt {
    background: #fd9;
    border-radius: 5px;
    padding: 0.25em;
  }

  .arabic {
    list-style: decimal outside;
    margin: 0.5em auto;
    width: 80%;

    li {
      margin-bottom: 0.5em;
    }
  }

  footer {
    .tags {
      list-style: none;

      li {
        display: inline;

        &:after { content: ', '; }
        &:last-child:after { content: ''; }
      }
    }
  }
}
