{% extends "layout.html" %}

{% block title %}{{ pagination.title|string|title }} - {{ site.name }}{% endblock %}

{% block afterstyle %}
    <meta name="description" content="{{ pagination.title|description }}">
{% endblock %}

{% block main %}
    {% set year = 0 -%}
    <section class="archive">
        <ol>
        {% for year, items in pagination.items|groupby("date.year")|reverse %}
            <li class="header">
                <h3><a href="{{ items[0]|year_url }}">{{ year }}</a></h3>
            </li>
            {% for item in items %}
                <li>
                    <time datetime="{{ item.date|xmldatetime }}">{{ item.date.strftime('%Y-%m-%d') }}</time>
                    <span><a href="{{ item|permalink }}">{{ item.title }}</a></span>
                </li>
            {% endfor %}
        {% endfor %}
        </ol>
        {% if pagination.has_prev or pagination.has_next %}
            <nav class="pagination">
                {% if pagination.has_prev %}
                    <a href="{{ content_url(pagination.root, 'page', pagination.prev_num) }}">Prev</a>
                {% else %}
                    <span>Prev</span>
                {% endif %}
                <span>{{ pagination.page }} / {{ pagination.pages }}</span>
                {% if pagination.has_next %}
                    <a href="{{ content_url(pagination.root, 'page', pagination.next_num) }}">Next</a>
                {% else %}
                    <span>Next</span>
                {% endif %}
            </nav>
        {% endif %}
    </section>
{% endblock %}
